.error {
    @include verticalCenter;
    height: 95vh;
    max-width: 1200px;
    background: $color-5;
    border-radius: $border-radius;
    text-align: center;

    p {
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    a {
        padding: 1rem 2rem;
        border-radius: $border-radius;
        background: $color-4;
        transition: .2s;
        box-shadow: 0 3px 1px rgb(15, 15, 15);


        &:hover {
            background-color: $white;
        }
    }
}